@font-face {
	font-family: 'WN';
	src: url('https://cdn.jsdelivr.net/gh/Amatrue/Novel_tpyrcne/warning.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/* 容器样式 */

section.warning {
	font-family: 'WN', sans-serif;
	/* 使用加载的字体 */
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
}
.scrolling-container {
	width: 100%;
	overflow: hidden;
	background-color: black;
	color: white;
	font-size: 24px;
	font-weight: bold;
	display: flex;
	align-items: center;
}
/* 滚动文字样式 */

.scrolling-text-wrapper {
	display: flex;
	animation: scroll-left 15s linear infinite;
}
.scrolling-text {
	letter-spacing: -0.3px;
	white-space: nowrap;
	padding-right: 50px;
	/* 添加一些空间以防止字母之间太紧凑 */
}
/* 滚动动画 */

@keyframes scroll-left {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}
